# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Editor files
*.swp

# Generated list files
archives.list
modules.list
hg_repos.list
git_repos.list
urls.list
urls.json.save

# Folders
archives
source
build

